
//variables
$background-base: black;
$hover-base: rgb(255, 229, 144);

//media queries
$mobile: 700px;
@media (min-width: $mobile) {
  
}

//styling
*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-image: url('./images/background-table.jpg');
  background-color: black;
  background-size: 100vw;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

.container{
  background-color: $background-base;
  margin: 0 auto;
  max-width: 50%;

  min-height: 100vh;
  .title{
    margin-top: 0;
    padding: 30px 0;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 3rem;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
  }
}

//cta images
.cta-images{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  img{
    width: 35%;
  }
}

//contact section
.info{
  .msg{
    color: white;
    text-decoration: none; 
    padding: 20px 40px;
    border: 3px solid white;
    font-weight: bold;
    letter-spacing: .3rem;
  }
  .msg:hover{
    color: $hover-base;
    border: 3px solid $hover-base;
  }
  .contact-title{
    letter-spacing: .4rem;
    margin-bottom: 60px;

  }
  .contacts{
    display:flex;
    justify-content: space-evenly;
    margin-top: 90px;
    padding-bottom: 80px;
    .item{
      width: 50%;
      margin-bottom: 30px;
      label{
        font-size: 1rem;
        border-bottom: .5px solid white;
      }
      p{
        font-size: 1.2rem;
        margin-top: 8px;
      }
    }
  }
}

//media queries
@media (max-width: $mobile) {
  .container{
    max-width: 80%;
  }

  .cta-images{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    img{
      width: 47%;
    }
  }


  .info{
    .msg{
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
    .contact-title{

    }
    .contacts{
      flex-direction: column;
      align-items: center;
      .item{
        width: 100%;
        p{
          font-size: 1rem;
        }
      }
       
    }
  }
}
